<div class="container-fluid">
  <div class='row'>
    <div class="col-sm-8 col-sm-offset-2 post">
      <h1><%- page.title %></h1>
      <div class='text-muted'>
        <%= date(page.date, config.date_format) %> 
      </div>
      <div id="post-body">
        <%- page.content %>		
      </div> 
    </div>
  </div>
</div>
